body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

/* Hero Section */
.hero{
    background: url('images/dress1.jpg') center/cover;
    height: 90vh;
    position: relative;
}

.overlay{
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Cards */
.product-card{
    transition: 0.3s;
    margin-bottom: 20px;
}

.product-card:hover{
    transform: scale(1.05);
}

/* Payment Box */
.payment-box{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

/* Login */
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.login-form{
    background: white;
    padding: 40px;

    width: 400px;

    border-radius: 10px;

    box-shadow: 0px 0px 10px gray;
}

/* Responsive */
@media(max-width:768px){

    .hero h1{
        font-size: 35px;
    }

}
